<%- include('partials/header') -%>
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
<body>
    <div class="container login-container mx-auto ">
        <div class="card row align-items-center">
            <div class="card-content justify-content-center align-items-center">
                <h2><i class="fas fa-hotdog"></i></h2>
                <h3> Is This a Sandwich?</h3>
                <div class="section">
                    <p class="lead">Let's find out</p>
                </div>
                <div class="divider"></div>
                <div class="section">
                    <a href="/auth/google" class="btn red darken-1">
                        <i class="fab fa-google left"></i> Log In With Google
                    </a>
                </div>
            </div>
        </div>
    </div>

<%- include('partials/footer') -%>